#foter_nav a{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color:#01579b;
}
#foter_nav a:hover{
    color:#388e3c;
}



.footer_down{
height: 50px;
position: relative;
top:50px;
background-color: #01579b;
}
#nav-mobile{
    width: 12rem;
}

#foter_nav img{
    margin-top:0px;
    margin-left: 15px;
    height: 65px;
}
.footer_down p{
padding-left: 30px;
font-size: 1rem;
color: white;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-shadow: 1px 0 4px white;
}


.slide_menu{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
   
        img{
            width: 340px;
            height: 200px;
           margin: 10px;
        
    }
    
}
.bar_menu{

    p{
        text-align: center;
        font-size: 20px;
    }
}
.form_add{
    display: flex;
    flex-direction: column;
    label{
        font-size: 30px;
    }
    .lable_blue{
       color: grey;
    }
    .lable_green{
        color: green;

    }
}
@media screen and (max-width:1370px){
    
      .slide_menu{
               img{
                   width: 280px;     
           }
          } 
  }
  @media screen and (max-width:1150px){
    
      .slide_menu{
               img{
                   width: 240px;     
           }
          } 
  }
  @media screen and (max-width:992px){
    
      .slide_menu{
               img{
                   width:260px;     
           }
          } 
  }
  @media screen and (max-width:813px){
    
      .slide_menu{
               img{
                   width: 200px;     
           }
          } 
  }
  @media screen and (max-width:654px){
    
      .slide_menu{
               img{
                   width: 170px;     
           }
          } 
  }
@media screen and (min-width: 1680px){
  
    .slide_menu{
             img{
                 width: 425px;     
         }
        } 
}

@media screen and (max-width: 600px){
    #foter_nav li a{
        font-size: 1.4rem;
        font-weight: 400;
    }
    .slide_menu{
        img{
            width: 400px;     
    }
   } 
   #foter_nav img{
    
    height: 55px;
}
   
}